<table>
  <tbody>
    <tr>
      <th>Crisply Webhook</th>
      <td><input type="text" id="settings_crisply_webkook" 
                     value="<%= settings['crisply_webkook'] %>" 
             name="settings[crisply_webkook]" style='width:300px;' >
    </tr>
  </tbody>
</table>